<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>movie_app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>826D19A42BE9E78D006EDEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>826D19BA2BE9E78F006EDEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>826D19C42BE9E78F006EDEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
